body {
    background: #006d75;
}
.header {
    width: 97.75vw;
    background: white;

    border: 5px solid black;

    display: flex;
    justify-content: space-between;
}
.head1, .head2 {
    margin: 20px;

    height: 50px;
    width: 150px;

    background: silver;
}
.center{
    display: flex;
}
.second{
    height: 248.5vh;
    background: white;

    border: 5px solid black;
    border-top: 0;

    display: flex;
    flex-direction: column;

}
.secin{
    margin: 10px;

    background: silver;

    height: 50px;
    width: 150px;
  }
.third{
    background: white;
    height: 35vh;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    padding: 20px;
}
.thirin{
    height: 100%;
    background: silver;
}
.fourth{
    height: 30vh;

    border-right: 5px solid black;
    border-bottom: 5px solid black;

    background: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row   {
    display: flex;
    flex-direction: column;
}
.fourin{
    height: 225px;
    width: 300px;

    background: silver;
}

.midbot{
    display: flex;
}
.fifth {
    width: 78%;

    background: white;

    border-right: 5px solid black;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fifthin{
    width: 410px;
    height: 200px;

    background: silver;

    margin: 20px;
}

.fifthbot{
    height: 50px;
    width: 100px;

    background: silver;
}
.sixth{
    width: 21.9%;

    background: white;
    border-right: 5px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.sixin{
    height: 150px;
    width: 250px;

    background: silver;

    margin-top: 20px;

}
.bottom{
    height: 165px;

    background: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;

    margin-left: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    bottom: 18.4vh;

}
.botin1{
    height: 50px;
    width: 70%;
    background: silver;
}

.botin2{
    height: 50px;
    width: 20%;
    background: silver;
}

@media screen and (max-width: 1380px){
    .mid{
        width: 910px;
    }

    .header{
        margin-left:180px ;
        width: 871px;
        border-right: 5px solid black;
    }
    .second{
        max-height: 600px;
        border: 5px dotted black;
        position: relative;
        top: -100px;
    }
    .third{
        border-left: 5px solid black;
        margin-right: 29px;
    }
    .fourth{
        border-left: 5px solid black;
        height: 500px;
        flex-wrap: wrap;
        flex-direction: column;
        margin-right: 29px;
    }
    .center{
        width: 100vw;
    }
    .midbot{
        flex-wrap: wrap;
    }
    .fifth{
        height: 550px;
        width: auto;
        border-left: 5px solid black;
        overflow: scroll;
        margin-right: 29px;
    }
    .fifthin{
        width: 350px;
        height: 220px;
    }
    .sixth{
        border-top: 5px solid black;
        border-left: 5px solid black;

        flex-direction: row;

        width: 871px;
        height: 400px;

        margin-right: 29px;
    }
    .sixdeep{
        width: 800px;
    }
    .sixin{
        margin-left: 30px;
        height: 75px;
        width: 400px;
    }
    .botsix{
        width: 50vw;
        min-height: 340px;
        margin-right: 20px;
    }
    .bottom{
        border-left: 5px solid black;
        top: 0;
        width: 871px;
    }
}
@media screen and (max-width: 900px){
    body{
        margin: 0;
    }
    .header{
        width: 500px;

    }
    .third{
        width: 460px;
    }
    .fourth{
        flex-direction: column;
        flex-wrap: wrap;
        width: 500px  ;
    }
    .fourin{
        width: 210px;
        height: 170px;
    }
    .fifth{
        width: 500px;
    }
    .fifthin{
        width: 440px;
        height: 70px;
    }
    .fift3{
        width: 250px;
        height: 50px;
    }
    .sixth{
        width: 480px;
        height: 700px;
        flex-wrap: wrap;
        padding-left: 20px;
    }
    .botsix{
        width:400px;
    }
    .bottom{
        width: 500px;
    }
}