.usersBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: silver;

    border-radius: 10px;
}

.userDiv {
    height: 100px;
    width: 45%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    background: whitesmoke;

    font-size: 30px;
    font-family: "Trebuchet MS", serif;
}

.firstPageButton{
    width: 50%;
    height: 40%;
}

.userInfo{
    background: silver;

    display: flex;
    flex-direction: column;
}
.textPart {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.textInfo{
    background: whitesmoke;

    border: 1px solid black;
    margin: 5px;
}

.bttn {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.mainButton {
    height: 50px;
    width: 90%;
}

.postsTitle {
    display: none;
    justify-content: center;

    height: 200px;
    width: 100%;

    background: silver;
    border: 2px solid black;
}
.disFlex{
    display: flex;
}